:root {
    --main-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    background: var(--main-color);
    height: 100vh;
}

a{
    text-decoration: none;
    margin-right: 15px;
}

input, textarea{
    outline: none;
    border: none;
}

button{
    outline: none;
}

.product-cart{
    margin-top: 15px;
}

.nav-button{
    margin-top: 10px;
}

.nav-button-text{
    color: black;
}