:root {
    --main-blue-color:#3E2EF9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    padding: 80px 0 0 80px;
    background: var(--main-blue-color);
    height: 100vh;
}

a{
    text-decoration: none;
}

input, textarea{
    outline: none;
    border: none;
}

button{
    outline: none;
}